* {
    box-sizing: border-box;
}

#container{
    width: 850px;
    

}
#block1{
    height: 300px;
    background-color: blue;
    
}
#b1{
    height: 100px;
    background-color: wheat;
}

#face{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    top: 220px;
    left: 10px;
}

li{
display: inline;
position: relative;
left: 100px;
border-right: 1px solid lightslategrey;
padding-right: 10px
}

ul{
    margin-top: 0px;
}

#headerText{
    position: relative;
    top: 100px;
    left: 135px;


}

h1{
    font-size: 25px;
    color: white;
}
h2{
    font-size: 23px;
    color: white;
}
#bar{
    position: relative;
    left: 500px;
    top: 50px;

}
#containertwo{
    width: 850px;
    height: 10px;

}
#blockthree{
    float: left;
    width: 328px;
     height: 180px;
    border: solid 10px; color: blue;
}
#blockfour{
    float: right;
    width: 512px;
     height: 160px;
    border: solid 10px; color: blue;

}